<% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
  <--! いいね済み-->
　<%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
    　<span class="fa fa-heart like-btn-unlike"></span>
    <% end %>
 <% else %>
 　<%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
       <span class="fa fa-heart like-btn"></span>
     <% end %>
 <% end %>
