<p id="notice"><%= notice %></p>

<h1>User Home</h1>

<h2><%= @user.account.email %>さんの設定</h2>
<%= render 'form', user: @user %>

<hr>
<p><%= link_to '<< go back', controller: :posts %></p>

<hr>
<div>copyright Tree 2018</div>
