
<h1><%= @questionary.title %>の集計</h1>

<p>回答の一番最初のものは無選択の数を示します。以後、1つ目の選択肢を選んだ数、2つ目の‐‐と続きます。1つしか回答のないものは、何も選択されていない（問題が存在しない）と考えてください。</p>

<table>
    <tr><th>質問ID</th><th>集計</th></tr>
    <% @calc.each do |ky, vl| %>
      <tr><td><%= ky %></td><td>
      <table><tr>
      <% for v in vl %>
          <td><%= v.to_i %></td>
      <% end %>
      </tr>
      </table>
    </td></tr>
  <% end %>
</table>
