<p id="notice"><%= notice %></p>

<h1>User Home</h1>
<h2><%= @board_user.account.email %>さんの設定</h2>
<%= render 'form', board_user: @board_user %>

<hr>
<p><%= link_to '<< go back', controller: :board_messages %></p>

<hr>
<div>copyright Tree 2018</div>



<%#= link_to 'New Board User', new_board_user_path %>
