body {
  color: darkgray;
  font-size: 14pt;
  margin: 10px 20px;
}
#header {}
#main {
  width: 75%; float: left;
}
#side {
  width: 20%; float: right;
}

h1 {
  color: darkgray;
  font-size: 28pt;
  margin: 30px 0px 70px 0px;
}
h2 {
  color: darkgray;
  font-size: 14pt;
  margin: 50px 0px;
}
hr {
  display: block; height: 2px;
  background-color: #eee;
  border: 0;
  margin: 50px 0px 0px 0px;
}
a {
  color: darkgray;
  text-decoration: none;
}
a:hover {
  color: darkgray;
  text-decoration: underline;
}
.top_title {
  color: darkgray;
  font-size: 18pt;
  margin: 25px 0px;
}
.top_read {
  color: darkgray;
  font-size: 12pt;
  margin: 0px 0px 25px 50px;
}
.top_created {
  font-size: 9pt;
}
.show_title {
  color: darkgray;
  font-size: 18pt;
  margin: 25px 0px;
}
.show_read {
  color: darkgray;
  font-size: 12pt;
  margin: 50px 20px;
}
.show_content {
  color: darkgray;
  font-size: 12pt;
  margin: 50px 20px;
}
.show_created {
  text-align: right;
  font-size: 10pt;
}
.navigate {
  text-align: center;
  font-size: 10pt;
  margin: 50px;
}
