.floats {
  float: left;
}
.like-now{
  color:#fed136;
}
.like-now:hover{
  background-color:white;
}
.like-not{
  background-color:white;
   color:gray;
   transition: .8s;
}
.like-not:hover{
   background-color:white;
  color:#fed136;
}
.like-count{
   padding: 0.3rem;
}
