<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'ajax', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%#=
     stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <!-- /jQueryを読み込む -->
    <!-- /script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!- /スクリプトを読み込む -->
    <%#= javascript_include_tag 'application' %>


  </head>

  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
